<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск книги</title>
</head>
<body>
<form th:action="@{/books/search}" method="GET">
    <label for="title">Введите поисковой запрос:</label>
    <input type="text" id="title" name="text">
    <br>
    <input type="submit" value="Искать">
</form>
</body>
</html>