<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница книги</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book title, book author, book year</p>
<div th:if="${book.getReservedBy() == null}">
    <form th:method="PATCH" th:action="@{/books/{id}/edit(id=*{id})}" th:object="${book}">
        <input type="hidden" th:value="${book.getTitle()}" th:field="*{title}">
        <input type="hidden" th:value="${book.getAuthor()}" th:field="*{author}">
        <input type="hidden" th:value="${book.getYear()}" th:field="*{year}">
        <label for="reserve">
            Эта книга свободна. Кому назначить её?<br/>Выберите человека
            <select th:field="*{reservedBy}">
                <option th:each="person : ${personDao.findAll()}" th:value="${person.getId()}" th:text="${person.getFullName()}">person full name</option>
            </select>
        </label>
        <input type="submit" id="reserve" value="Назначить">
    </form>
</div>
<div th:unless="${book.getReservedBy() == null}">
    Книга сейчас у: <span th:text="${personDao.findById(book.getReservedBy()).getFullName()}">person full name</span>
    <form th:method="PATCH" th:action="@{/books/{id}/edit(id=*{id})}" th:object="${book}">
        <input type="hidden" th:value="${book.getTitle()}" th:field="*{title}">
        <input type="hidden" th:value="${book.getAuthor()}" th:field="*{author}">
        <input type="hidden" th:value="${book.getYear()}" th:field="*{year}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=*{id})}" th:object="${book}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>